# Eclipse
.classpath
.project
.settings

# Android Studio
.gradle/
.idea/
build/
*.iml
local.properties

# MacOS
.DS_Store

# Android
*.apk
!release/*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties

# Gradle
.gradle
build
