<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netzarchitekten.tools"
    android:versionCode="11"
    android:versionName="3.0.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true" >
    </application>

</manifest>
