<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netzarchitekten.tools"
    android:versionCode="13"
    android:versionName="4.0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true" >
    </application>

</manifest>
